$base-height: 42px;
$base-width: 110px;

button {
  font-size: 1em;
  user-select: none;
  &.small {
    height: $base-height;
    width: $base-width;
    font-size: 1em;
  }
  &.large {
    height: $base-height * 2;
    width: $base-width * 2;
    font-size: 2em;
  }

  &.undertale {
    background: #000000;
    color: #ff7f27;
    text-align: right;
    font-weight: 900;
    font-family: var(--font-press-start-2p);
    border: 0.2em solid #ff7f27;
    cursor: pointer;
  }

  &.undertale:hover {
    color: #ffff00;
    border: 0.2em solid #ffff00;
  }
}
