@font-face {
  font-family: "iconfont"; /* Project id 5129219 */
  src: url('iconfont.woff2?t=1778415808258') format('woff2'),
       url('iconfont.woff?t=1778415808258') format('woff'),
       url('iconfont.ttf?t=1778415808258') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-24gf-arrowRight3:before {
  content: "\eb77";
}

.icon-24gf-arrowLeft3:before {
  content: "\eb79";
}

.icon-quxiao:before {
  content: "\e781";
}

.icon-danquxunhuan:before {
  content: "\e877";
}

.icon-liebiaoxunhuan:before {
  content: "\e878";
}

.icon-suijibofang:before {
  content: "\e87a";
}

.icon-shunxubofang:before {
  content: "\e87e";
}

.icon-24gf-volumeDisable:before {
  content: "\ea0f";
}

.icon-24gf-volumeLow:before {
  content: "\ea11";
}

.icon-24gf-volumeHigh:before {
  content: "\ea12";
}

.icon-24gf-volumeMiddle:before {
  content: "\ea13";
}

.icon-24gf-first:before {
  content: "\ea7a";
}

.icon-24gf-last:before {
  content: "\ea7e";
}

.icon-24gf-next:before {
  content: "\ea7f";
}

.icon-24gf-pause2:before {
  content: "\ea81";
}

.icon-24gf-play:before {
  content: "\ea82";
}

.icon-24gf-previous:before {
  content: "\ea88";
}

.icon-Properties:before {
  content: "\e74f";
}

.icon-Vue:before {
  content: "\e799";
}

.icon-gitignore:before {
  content: "\e62d";
}

.icon-npmignore:before {
  content: "\e647";
}

.icon-xml:before {
  content: "\e67b";
}

.icon-py:before {
  content: "\e653";
}

.icon-cpp:before {
  content: "\e61a";
}

.icon-css:before {
  content: "\e61e";
}

.icon-html:before {
  content: "\e632";
}

.icon-java:before {
  content: "\e639";
}

.icon-json:before {
  content: "\e63a";
}

.icon-js:before {
  content: "\e63b";
}

.icon-jsx:before {
  content: "\e63c";
}

.icon-sql:before {
  content: "\e65b";
}

.icon-ts:before {
  content: "\e664";
}

.icon-yaml:before {
  content: "\e680";
}

.icon-yml:before {
  content: "\e681";
}

.icon-bash:before {
  content: "\e693";
}

.icon-bangzhu:before {
  content: "\eaef";
}

.icon-guanyu:before {
  content: "\eaf2";
}

.icon-jinggao:before {
  content: "\eaf7";
}

.icon-tishi:before {
  content: "\eafe";
}

.icon-anniu_jiantouxiangzuo:before {
  content: "\eb06";
}

.icon-liebiao:before {
  content: "\eaf8";
}

.icon-quanlingyuguimo:before {
  content: "\e994";
}

.icon-caidan:before {
  content: "\eaf1";
}

.icon-yinle:before {
  content: "\e99a";
}

.icon-wendang:before {
  content: "\e99c";
}

.icon-tupian:before {
  content: "\e997";
}

