@font-face {
  font-family: "iconfont"; /* Project id 5129219 */
  src: url('iconfont.woff2?t=1775454894447') format('woff2'),
       url('iconfont.woff?t=1775454894447') format('woff'),
       url('iconfont.ttf?t=1775454894447') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bangzhu:before {
  content: "\eaef";
}

.icon-guanyu:before {
  content: "\eaf2";
}

.icon-jinggao:before {
  content: "\eaf7";
}

.icon-tishi:before {
  content: "\eafe";
}

.icon-anniu_jiantouxiangzuo:before {
  content: "\eb06";
}

.icon-liebiao:before {
  content: "\eaf8";
}

.icon-quanlingyuguimo:before {
  content: "\e994";
}

.icon-caidan:before {
  content: "\eaf1";
}

.icon-yinle:before {
  content: "\e99a";
}

.icon-wendang:before {
  content: "\e99c";
}

.icon-tupian:before {
  content: "\e997";
}

