@font-face {
  font-family: "iconfont"; /* Project id 5129219 */
  src: url('iconfont.woff2?t=1775798346305') format('woff2'),
       url('iconfont.woff?t=1775798346305') format('woff'),
       url('iconfont.ttf?t=1775798346305') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Properties:before {
  content: "\e74f";
}

.icon-Vue:before {
  content: "\e799";
}

.icon-gitignore:before {
  content: "\e62d";
}

.icon-npmignore:before {
  content: "\e647";
}

.icon-xml:before {
  content: "\e67b";
}

.icon-py:before {
  content: "\e653";
}

.icon-cpp:before {
  content: "\e61a";
}

.icon-css:before {
  content: "\e61e";
}

.icon-html:before {
  content: "\e632";
}

.icon-java:before {
  content: "\e639";
}

.icon-json:before {
  content: "\e63a";
}

.icon-js:before {
  content: "\e63b";
}

.icon-jsx:before {
  content: "\e63c";
}

.icon-sql:before {
  content: "\e65b";
}

.icon-ts:before {
  content: "\e664";
}

.icon-yaml:before {
  content: "\e680";
}

.icon-yml:before {
  content: "\e681";
}

.icon-bash:before {
  content: "\e693";
}

.icon-bangzhu:before {
  content: "\eaef";
}

.icon-guanyu:before {
  content: "\eaf2";
}

.icon-jinggao:before {
  content: "\eaf7";
}

.icon-tishi:before {
  content: "\eafe";
}

.icon-anniu_jiantouxiangzuo:before {
  content: "\eb06";
}

.icon-liebiao:before {
  content: "\eaf8";
}

.icon-quanlingyuguimo:before {
  content: "\e994";
}

.icon-caidan:before {
  content: "\eaf1";
}

.icon-yinle:before {
  content: "\e99a";
}

.icon-wendang:before {
  content: "\e99c";
}

.icon-tupian:before {
  content: "\e997";
}

